<div class=main_container>

  <h1>Let's master something!</h1>

  <h2>Search goes here</h2>

  <h2>Category buttons with dropdowns for subcategories go here</h2>

  <h3>Collection of popular videos goes here</h3>

  <div class="cards">
    <% @videos.each do |video| %>
      <%= link_to video_path(video) do %>
        <div class="card-video">
          <img src="https://img.youtube.com/vi/<%= video.you_tube_key %>/hqdefault.jpg">
            <div class="card-video-infos">
              <div>
                <p><%= video.sub_category.name %></p>
                <p> other labels go here </p>
              </div>
                <h2 class="card-video-pricing">39 Votes</h2>
            </div>
        </div>
      <% end %>
    <% end %>
  </div>

</div>
