<div class=main_container>

  <h1>Labels go here</h1>

  <div class="cards-show">
    <div>
    <iframe id="ytplayer1" type="text/html" width="853" height="505"
      src="https://www.youtube.com/embed/<%= @video.you_tube_key %>?autoplay=1"
      frameborder="0"></iframe>
      </div>

  <div class="card-category">
    <%= link_to "Mastered?", video_path(@video, completed:"true"), class: "category-choice" %>
  </div>
  </div>
</div>

