<div class=main_container>

  <h1>Labels go here</h1>

  <div class="cards-show">
    <div>
    <iframe id="ytplayer1" type="text/html" width="853" height="505"
      src="https://www.youtube.com/embed/<%= @video.you_tube_key %>?autoplay=1"
      frameborder="0"></iframe>
      </div>

  <div class="card-category">
    <% if @interaction && @interaction.completed? %>
      <%= link_to "I haven't mastered it", video_interactions_path(@video, interaction: {completed: false}), method: "POST", class: "category-choice" %>
    <% else  %>
      <%= link_to "I've mastered it", video_interactions_path(@video, interaction: {completed: true}), method: "POST", class: "category-choice" %>
    <% end %>

  </div>
  </div>
</div>

