<div class="footer main_container">
  <div class="footer-links">
    <%= link_to "#" do %>
      <i class="fab fa-github"></i>
    <% end %>
    <%= link_to "#" do %>
      <i class="fab fa-instagram"></i>
    <% end %>
    <%= link_to "#" do %>
      <i class="fab fa-facebook"></i>
    <% end %>
  </div>
</div>
