.main_container {
  margin: 32px;
  h3 {
    color: #4d7577;
  }
}

.heading-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 8px;
}

.grid-heading {
  margin: auto;
}

a:hover {
  text-decoration: none;
}
