.cards-show {
display: grid;
grid-template-columns: 1fr 1fr;
grid-gap: 32px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .card-video > img {
    height: 240px;
  }
  .cards-show {
    grid-template-columns: 1fr;
  }
  #ytplayer1 {
    width: 100%;
    height: 240px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .card-video > img {
    height: 388px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .card-video > img {
    height: 168px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .card-video > img {
    height: 168px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .card-video > img {
    height: 168px;
  }
}

#ytplayer {
  height: 320px;
  padding: 27px;
}

.card-video {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  color: #FF452E;
  text-decoration: none;
}

.card-video > img {
  width: 100%;
  padding: 24px;
  object-fit: cover;
  text-decoration: none;
}

.card-video h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-video h3 {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-video p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  color: gray;
}

.card-video .card-video-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-video-infos .card-video-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-video-pricing {
  color: gray;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
