// Buttons design
.category-choices {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0;
  color: gray;
}

#category-choice {
  background: #4d7577;
  padding: 16px;
  border-radius: 24px;
  opacity: 1;
  flex: 0 0 48%;
  text-align: center;
  margin-bottom: 8px;
  color: whitesmoke;
  a {
    color: black;
  }
  &:hover {
    opacity: .4;
    cursor: pointer;
    text-decoration: none;
  }
  &.active {
  background: black;
  color: white;
  opacity: .4;
  text-decoration: none;
}
}

#container-filter {
  max-width: 100%;
}
