#like {
  padding: 8px;
  color: #ED7A6A;
  display: inline-block;
  text-align: left;
  margin-top: 32px;
  margin-bottom: 0;
  width: 100%;
}
#helpful {
  display: inline-block;
  padding: 8px;
  text-align: left;
  width: 100%;
  color: #ED7A6A;
}

.card-category .icons {
  font-size: .8em;
  display: block;
  text-align: center;
}
