#like {
  padding: 8px;
  color: #ED7A6A;
  display: inline-block;
  text-align: left;
  margin-top: 32px;
  margin-bottom: 0;
  width: 100%;
}
#helpful {
  display: inline-block;
  padding: 8px;
  text-align: left;
  width: 100%;
  color: #ED7A6A;
}

.card-category .icons {
  font-size: .8em;
  display: block;
  text-align: center;
}

.interaction-card {
  display: flex;
  align-items: center;
  margin: 4px 0;
    p {
      margin: 0;
    }
}

.font-awesome-div {
  display: flex;
  margin-right: 10px;
}

#vote-count {
  font-size: 17px;
  margin: 0 8px;
}

#good-style-count {
  font-size: 17px;
  margin: 0 8px;
}

#helpful-count {
  font-size: 17px;
  margin: 0 8px;
}

.fa-chevron-circle-down:before {
    color: #e83f43;
}

.fa-chevron-circle-up:before {
    color: #e83f43;
}
