.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  font-size: 40px;
}

.navbar-lewagon .navbar-collapse a {
  color: #4d7577;
}

.navbar-lewagon .navbar-collapse a:hover {
  color: #e83f43;
}

.fas {
  padding-right: 15px;
}

.navbar-brand img {
  width: 16%;
  height: 64%;
  }

// h1#mastery {
//   justify-items: left;
// }

// .logo {
//   float: left;
//   margin-right: 8px;
// }

@media (min-width: 100px) and (max-width: 768px) {
  .navbar-brand img {
    width: 24%;
    height: 50%;
  }
  .navbar-lewagon .navbar-collapse {
    display: flex;
    justify-content: space-around;
    background-color: none;
  }
  .navbar-lewagon .navbar-collapse a {
  color: #e83f43;
  }

  .navbar-lewagon .navbar-collapse a:hover {
    color: #4d7577;
  }

}
